html, body {
	width: 100%;
	height: 100%;
}

#map {
	width: 100%;
	height: 100%;
}

.mapboxgl-popup-close-button, .mapboxgl-popup-close-button:hover {
	box-shadow: none;
	padding: 0;
}

.mapboxgl-map, .mapboxgl-marker, .mapboxgl-popup {
	transition: none;
}

select {
	display: block;
}
